.frame {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  gap: 40px;
}
.frameLeft {
  width: 300px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: solid 1px gray;
}
.iphoneImg {
  width: 100%;
  height: 260px;
  margin-top: 40px;
  object-fit: cover;
}
.frameBtns {
  cursor: pointer;
  font-size: 20px;
}
.frameBtns:hover{
  scale:1.2;
  transition: 0.5s;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.frameRight{
  width: 100%;
}


@media (width <= 700px) {
  .frame {
    justify-content: center;
  }
  .frameLeft {
    border: 0;
  }
  .categories {
    text-align: center;
  }
  .frameRight{
    width: unset;
  }
}
