.sale {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: center; */
  /* align-items: center; */
}
.saleTop {
  display: flex;
  align-items: center;
  gap: 15px;
}
.saleBox {
  width: 20px;
  height: 40px;
  background-color: red;
  border-radius: 5px;
}
.saleBoxDay {
  color: red;
}
.saleCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.saleCenterLeft {
  display: flex;
  gap: 70px;
}
.saleCenterRight {
  padding-right: 70px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.saleBottom {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat( auto-fit, minmax(230px, 2fr) );
}
.saleBottom::-webkit-scrollbar{
    display: none;
  }
.saleProduct {
  display: flex;
  flex-direction: column;
  gap: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.saleProductImage:hover{
  padding: 2px 0px;
  scale: 1.1;transition: 0.2s;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
 

}
.saleProductImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.productName {
  display: flex;
  justify-content: space-between;
}
.productPrice{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productPrice button{
  background-color: rgb(247, 48, 48);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.productTitle{
  white-space: nowrap; 
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.likeButton:hover{
    background-color: red;
    size: 25;
    cursor: pointer;
}
.veiwBtnontainer{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    justify-content: center;
    align-items: center;
}

.veiwBtn{
    width: 250px;
    height: 45px;
    background-color: rgb(247, 48, 48);
    color: white;
    border: none;
    border-radius: 5px;
    
}
.line{
    width: 1380px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
